<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangqi.cms.dao.CategoryMapper">

	<!-- 查询所有列表 -->
	<select id="getCategory" resultType="Category">
		select * from cms_category where channel_id=#{id}
	</select>
</mapper>